<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="nav-logo border">
                <div class="logo"></div>
            </div>

            <div class="nav-address border">
                <p class="add-first">Enviar para</p>
                <div class="add-icon">
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="add-second">Brasil</p>
                </div>
            </div>

            <div class="nav-search">
                <select class="search-select">
                    <option>Todos</option>
                </select>
                <input class="search-input" placeholder="Search Amazon">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>

            <div class="nav-signin border">
                <p><span>Olá, faça seu login</span></p>
                <p class="nav-second">Contas e listas</p>
            </div>

            <div class="nav-return border">
                <p><span>Devoluções</span></p>
                <p class="nav-second">e Pedidos</p>
            </div>

            <div class="nav-cart border">
                <i class="fa-solid fa-cart-shopping fa-2x"></i>
                <span class="cart">Carrinho</span>
            </div>
        </div>


        <div class="panel">
             <div class="panel-ops">
                <p class="border2 all"><i class="fa-solid fa-bars"></i> All</p>
                <p class="border2">Today's Deals</p>
                <p class="border2">Customer Service</p>
                <p class="border2">Registry</p>
                <p class="border2">Gift Cards</p>
                <p class="border2">Sell</p>
             </div>
             <div class="panel-deals border2" style="padding: 0.66%;">
                Shop deals in Electronics
             </div>
        </div>
    </header>
</body>
</html>