<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
</head>
<body>
    <div class="top-section"></div>
        <div class="top-message">
            <p>You are on amazon.com. You can also shop on Amazon India for millions of products with fast delivery.<a> Click here to go to amazon.in</a></p>
        
        </div> 
    </div>

    <div class="shop-section">
        <div class="box">
            <div class="box-content">
                <h2 class="cards">Clothes</h2>
                <div class="box-img" style="background-image: url(images/box1_image.jpg);"></div>
                <p class="border">See all deals</p>
            </div>            
        </div>
        <div class="box">
            <div class="box-content">
                <h2 class="cards">Health & Personal Care</h2>
                <div class="box-img" style="background-image: url(images/box2_image.jpg);"></div>
                <p class="border">Shop now</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2 class="cards">Furniture</h2>
                <div class="box-img" style="background-image: url(images/box3_image.jpg);"></div>
                <p class="border">See more</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2 class="cards">Electronics</h2>
                <div class="box-img" style="background-image: url(images/box4_image.jpg);"></div>
                <p class="border">See more</p>
            </div>
        </div>

        <div class="box">
            <div class="box-content">
                <h2 class="cards">Beauty picks</h2>
                <div class="box-img" style="background-image: url(images/box5_image.jpg);"></div>
                <p class="border">Shop now</p>
            </div>            
        </div>
        <div class="box">
            <div class="box-content">
                <h2 class="cards">Pet Care</h2>
                <div class="box-img" style="background-image: url(images/box6_image.jpg);"></div>
                <p class="border">See more</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2 class="cards">New Arrival in Toys</h2>
                <div class="box-img" style="background-image: url(images/box7_image.jpg);"></div>
                <p class="border">Shop now</p>
            </div>
        </div>
        <div class="box">
            <div class="box-content">
                <h2 class="cards">Discover Fashion Trends</h2>
                <div class="box-img" style="background-image: url(images/box8_image.jpg);"></div>
                <p class="border">See more</p>
            </div>
        </div>
    </div>
</body>
</html>